body {
    background-color: #E5E6E4;
}

#header {
    background-color: #282828;
    color: #FFFFFF;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#mainContent {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

#leftMainContent {
    width: 50%;
    height: 500px;
    background-color: #282828;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


#rightMainContent {
    width: 50%;
    height: 500px;
    background-color: #282828;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.PairDisplay {
    height: 120px;
    width: 40%;
    background-color: #383838;
    color: #FFFFFF;
    border-radius: 5px;
    opacity: 0.7;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.PairDisplay:hover {
    opacity: 1;
    cursor: pointer;
}

.PairRate {
    border: none;
    border-radius: 7px;
    height: 60px;
    width: 60px;
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}



.PairText {
    margin-left:-20px;
}

.infoDisplay {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    
    height: 900px;
    width: 70%;

    position: absolute;
    top:40px;
    left: 0;
    overflow: scroll;
    z-index: 1;

    padding: 50px;
    text-align: justify;

}

.infoDisplayCloseButton {
    float: right;
    margin-right: -20px;
    margin-top: -20px;;

}

.rightInfoDisplayCloseButton {
    float: left;
    margin-left: 10px;
    margin-top: 10px;;

}

.infoDisplayContent {
    padding: 50px;
    margin-top: 50px;

}

.infoDisplayText {
    font-size: 1.2rem;
}

.rightInfoDisplay {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    height: 900px;
    width: 70%;

    position: absolute;
    top:40px;
    right: 0;
    overflow: scroll;

}

#intro { 
    height: 400px;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    padding-left: 100px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

#introImage {
    height: 100%;
    margin-left: 200px;
}

#outro {
    color: #FFFFFF;
    background-color: #383838;
    padding: 50px;
    text-align: center;
}

#outroImage {
    border: 1px solid white;
}

#outroContent {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.options {
    position: absolute;
    top: 5;
    right: 25px;
}

.optionButton {
    border: none;
    background-color: #282828;

}

.specialOptionButton {
    border: none;
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

.specialOptionButton:hover {
    color: #000000;
}

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    height: 440px;
    width: 100%;
    background-color: #000000e6;

    display:flex;
    align-items: center;
    justify-content:center;

}

.loginWindow {
    background-color: #383838;
    border-radius: 5px;
    margin-left: 25%;
    width: 50%;
    height: 50%;
    padding: 10px;
    text-align: center;
    color: #000000;    
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.loginDisplayCloseButton {
    position: relative;
    top: -60px;
}

.brokerWindow {
    background-color: #383838;
    color: #FFFFFF;
    font-size: 2rem;
    border-radius: 5px;
    margin-left: 25%;
    width: 50%;
    height: 50%;
    padding: 10px;
    text-align: center; 
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.currencyPic {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    width: 75%;
}

#dollar {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    padding: 50px;
    height: 100%;
    text-align: justify;
}

.dollarPic {
    width: 40%;
    height: 100%;
    margin-right: 50px;
    float: left;
}

.dollarText {
    margin-top: 50px;
    font-size: 1.6rem;
}

